<div class="modal fade" id="eliminaUtenteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Conferma eliminazione utente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Sei sicuro di voler eliminare questo paziente? Tutte le sue misurazioni e piani alimentari verranno
          eliminati.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <form id="eliminaUtenteForm" action="/admin/utenti/elimina" method="POST" class="d-inline">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" id="utenteId" name="utenteId">
          <button type="submit" class="btn btn-danger">Elimina</button>
        </form>
      </div>
    </div>
  </div>
</div>
